Language: Cpp
BasedOnStyle: Microsoft
BreakConstructorInitializersBeforeComma: true
ConstructorInitializerIndentWidth: 4
ColumnLimit: 100
AlignConsecutiveDeclarations: Consecutive
AlignOperands: Align
BreakBeforeTernaryOperators: true
NamespaceIndentation: Inner
FixNamespaceComments: true
IndentPPDirectives: AfterHash
IndentRequires: true
IndentWidth: 4
BreakBeforeConceptDeclarations: true
IndentExternBlock: NoIndent
PointerAlignment: Left
AlignEscapedNewlines: Left
AlignTrailingComments: true
SortIncludes: Never
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortFunctionsOnASingleLine: All
AllowShortBlocksOnASingleLine: Empty
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: true
BinPackArguments: true
SpaceAfterLogicalNot: false
SpaceBeforeCaseColon: false
SpaceBeforeRangeBasedForLoopColon: true
BreakBeforeBraces: Attach