Language: Cpp
BasedOnStyle: Microsoft
BreakConstructorInitializers: BeforeComma
ConstructorInitializerIndentWidth: 4
ColumnLimit: 100
AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveAssignments: Consecutive
AlignOperands: AlignAfterOperator
BreakBeforeBinaryOperators: All
BreakBeforeTernaryOperators: true
NamespaceIndentation: None
FixNamespaceComments: true
IndentPPDirectives: AfterHash
IndentRequires: true
IndentWidth: 4
BreakBeforeConceptDeclarations: true
IndentExternBlock: NoIndent
PointerAlignment: Left
AlignEscapedNewlines: Left
AlignTrailingComments: true
SortIncludes: Never
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortFunctionsOnASingleLine: All
AllowShortBlocksOnASingleLine: Empty
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: true
BinPackArguments: true
SpaceAfterLogicalNot: false
SpaceBeforeCaseColon: false
SpaceBeforeRangeBasedForLoopColon: true
BreakBeforeBraces: Attach
AccessModifierOffset: -4
AlwaysBreakTemplateDeclarations: Yes
PenaltyIndentedWhitespace: 1
